.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'PT Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
 }
}
.App-header {
  background-color: #813f3f;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
 }
  to {
      transform: rotate(360deg);
 }
}
$blue: #66fcf1;
$dark: #1f2833;
$black: #0b0c10;
$light: #C5C6C7;

.Header_Hex {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  font-size: 60px;
  color: $blue;
  width: 7rem;
  height: 3.5rem;
  margin-top: .5rem;
}
.Header_Initial_Hex {
  color: $blue;
  font-size: 30px;
  left: 0;
  margin-left: 2.93rem;
  position: absolute;
  margin-top: 1.2rem;
}

.Hex{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 8rem;
  font-size: 150px;
  animation: dash 8s ease-in forwards, dis .72s ease-in-out 2s;
  color: $blue;
  margin-top: 30vh;
  animation-fill-mode: forwards;
  -webkit-transform:scale(1);

}
@keyframes dis {

  to {
      -webkit-transform:scale(0);
 }
}
@keyframes dash {
  to {
      stroke-dashoffset: 0;
 }
}
.Initial_Hex {
  animation: K .5s ease-in 1.5s, Cont .5s ease-in 2s;
  color: $dark;
  animation-fill-mode: forwards;
  font-size: 80px;
  width: 100%;
  height: 6.25rem;
  padding: 16px 0 0 0;
  position: absolute;
  margin-top: 31vh;
}
@keyframes K {
  to {
      color: $blue;
 }
}
.Logo_Cont {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $dark;
}
@keyframes Cont {
  from {
      -webkit-transform:scale(1);
 }
  to {
      -webkit-transform:scale(0);
 }
}
.Title_Cont {
  display: flex;
  align-items: flex-end;
  height: 30%;
  width: 80%;
  text-align: center;
  margin: auto;
}
.Title {
  font-size: 30px;
  color: #64ffda;
  display: flex;
  text-align: left;
  justify-content: center;
  width: 100%;
  color: #ccd6f6;
}
.Title_Sub {
  font-size: 25px;
  color: #8892b0;
  display: flex;
  width: 40%;
  width: 50%;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 13%;
}
.Header_Cont {
  background-color: $dark;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.Title_Lines_Cont {
  display: block;
  width: 100%;
  height: 100%;
}
.Title_Name {
  font-size: 30px;
  margin-left: 10px;
  color: $blue;
}
.Header_Top_Cont {
  display: grid;
  justify-content: space-between;
  background-color: $dark;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 4;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  grid-template-columns: 20% 80%;
  height: 5rem;
}
.Header_Sections_Cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Logo {
  padding: 30px 0 30px 30px;
  display: flex;
  color: #8892b0;
}
.Section_Text {
  color: $light;
  font-size: 18px;
  width: max-content;
  margin-right: 10%;
}
a {
  color: inherit;
} 
.Section_Text a{
  transition: .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.Section_Text a:hover {
  color: $blue;
}
.Section_Text_Right {
  padding: 30px 40px 30px 20px;
  color: #8892b0;
}
.About_Cont {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  margin-top: 5rem;
}
.About_Title_Cont {
  display: flex;
  justify-content: center;
}
.About_Title {
  color: $dark;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
.Page {
  text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}
.About_Line {
  color: $dark;
  width: 75%;
  border: 1px solid;
  border-right: 0;
  border-left: 0;
  height: 15px;
  border-bottom: 0;
  border-width: 3px;
}
.About_Text_Cont {
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
}
.About_Text {
  color: $dark;
  text-align: left;
  font-size: 18px;
  width: 70%;
  margin: auto;
}
.About_Head_Cont {
  display: flex;
  width: 100%;
  justify-content: center;
}
.About_Languages {
  text-align: left;
  font-size: 20px;
  width: 100%;
  color: $dark;
  font-weight: bold;
}
.About_Languages_Cont {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}
.About_Languages_Cont > div > div {
  display: flex;
}
.Language_Column1 {
  margin-left: 5rem;
}
.Language_Column2 {
  margin-left: 5rem;
}
.Language_Text {
  display: flex;
  color: $dark;
  margin-top: 1rem;
  font-size: 20px;
  min-width: 11.6rem;
}
.Bullet {
  color: rgb(4, 43, 97);
  margin-right: 1rem;
}
button:focus {
 outline:0;
}
.Button_Cont {
  height: 20%;
  margin-top: 8%;
}
.Header_Button {
  padding: 1.4rem 2.5rem;
  background-color: transparent;
  border: 2px solid $blue;
  color: $blue;
  border-radius: 7px;
  font-size: 18px;
  margin-top: 8%;
  transition: .5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.Header_Button:hover {
  background-color: rgba(100, 255, 218, .2) 
}
.Contact_Button {
  padding: 1.4rem 2.5rem;
  background-color: transparent;
  border: 0;
  color: $light;
  border-radius: 7px;
  font-size: 18px;
  background-color: $dark;
  margin-top: 4%;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.Contact_Button > div {
  display: flex;
  align-items: center;
}
.Contact_Button > div > a {
  margin-left: .5rem;
}
.Contact_Button:hover {
  background-color: rgba(31, 40, 51, .7);
}

a {
  text-decoration: none;
}

.Footer {
  height: 3rem;
  width: 100%;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light;
  font-size: 10px;
  margin-top: 10%;
}

#Middle_Proj{
  width: unset;
}

.Language_Cont_Flex {
  display: flex;
}

@media only screen and (max-width: 620px) {
  .Language_Cont_Flex {
      display: unset;
 }
  .Language_Column2{
      margin-left: 0;
 }

}

@media only screen and (max-width: 980px) {
  .About_Languages_Cont > div > div {
      display: unset;
 }
  .Language_Column1{
      margin-left: 0;
 }
}

.ProjectDesc {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  width: 40%;
  position: relative;
  flex: 1;

  >a {
    font-size: 25px;
    color: #1f2833;
    font-weight: bold;
    transition: 0.25s ease-in-out;
  }
  >a:hover{
    color: $blue;
    cursor: pointer;
  }
  .TextBox {
    width: 110%;
    height: max-content;
    padding: 7px 0px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 25%;
    border-radius: 7px;
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    max-width: 34rem;
    >p {
      color: $light;
      font-size: 15px;
      line-height: 1.3;
      text-shadow: 1px 1px 1px #0d358b;
      text-align: left;
      width: 90%;
    }
  }
}
.ProjectBottom {
  display: flex;
  flex-direction: column;
  >div{
align-self: flex-end;
margin-top: 1rem;
    >a {
      color: $dark;
      font-size: 30px;
      transition: 0.25s ease-in-out;
      align-self: flex-end;
      margin-left: 1rem;
    }
  }
  >div{
  >a:hover {
    color: $blue;
    cursor: pointer;
  }
}
}

.Projects_Cont {
  width: 85%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  align-self: center;

}

.Project {
  height: 24rem;
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: row;
  margin: 4rem 0px;

}
.ProjectImg {
  display: flex;
  justify-content: flex-end;
  height: max-content;
  width: 60%;
  min-width: 32rem;
  position: relative;
  border-radius: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  img {
    width: 35rem;
    border-radius: 7px;
    max-height: 24rem;
  }
}

.ImgOver {
  background-color: transparent;
  transition: none;
  }
.ImgOver {
  height: 100%;
  width: 35rem;
  position: absolute;
  border-radius: 7px;
  opacity: 0.3;
  background-color: #0b0c10;
  transition: 0.4s ease-in-out;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.ImgOver:hover {
  opacity: 0;
}
.ProjectCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.ProjectCont:nth-of-type(2) {
  >.Project:nth-of-type(2) {
    flex-direction: row-reverse;
    .TextBox {
      left: 0;
      right: unset;
    }
    .ProjectDesc:nth-of-type(2) {
      align-items: flex-start;
    }
    .ProjectBottom {
      >div{
        align-self: flex-start;
      >a{
        margin-left: unset;
        margin-right: 1rem;
      }
    }
    }
  }
}
@media only screen and (max-width: 730px) {
  .ProjectImg {
    width: 100%;
    img {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .Project {
    flex-direction: column;
    height: 36rem;
    margin: 3rem 0px;
  }
  .ProjectImg {
    width: 100%;
  }
  .ProjectBottom {
    margin-top: 2rem;
    >div{
      align-self: flex-start;
    >a{
      margin-left: unset;
      margin-right: 1rem;
    }
  }
  }
  .ProjectDesc {
    height: unset;
    width: 100%;
    align-items: flex-start;
    >a {
      margin-top: 2rem;
    }
    .TextBox {
      margin-top: 1rem;
      width: 100%;
      background: unset;
      position: unset;
      right:unset;
      top: unset;
      box-shadow: unset;
      justify-content: flex-start;
      >p {
        text-shadow: unset;
        color: #333;
      }
    }
  }
  .ProjectCont:nth-of-type(2) > .Project:nth-of-type(2) {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .ProjectImg {
    width: 100%;
    align-self: center;
    justify-content: center;
    img {
      width: 80%;
      max-height: unset;
      object-fit: contain;
      border-radius: 12px;
    }
    div {
      width: max-content;
      height: max-content;
      max-height: 24rem;
    }
  }
  #Middle_Proj{
    width: 100%;
  }
    .ProjectCont:nth-of-type(2) > .Project:nth-of-type(2) {
      flex-direction: column;
    }
    .Project {
      flex-direction: column;
      height: 40rem;
      margin: 3rem 0px;
    }
    .ProjectImg {
      width: 100%;
      align-self: center;
      justify-content: center;
      img {
        width: 80%;
        max-height: unset;
        object-fit: contain;
        border-radius: 12px;
      }
      div {
        width: max-content;
        height: max-content;
        max-height: 24rem;
      }
    }
    .ImgOver {
      background-color: transparent;
      transition: none;
      }
    .ProjectBottom {
      margin-top: 2rem;
      >div{
        align-self: flex-start;
      >a {
margin-left: unset;
margin-right: 1rem;      
        }
    }
    }
    .ProjectDesc {
      height: unset;
      width: 100%;
      align-items: flex-start;
      >a {
        margin-top: 2rem;
      }
      .TextBox {
        margin-top: 1rem;
        width: 70%;
        background: unset;
        position: unset;
        right:unset;
        top: unset;
        box-shadow: unset;
        justify-content: flex-start;
        >p {
          text-shadow: unset;
          color: #333;
        }
      }
    }
  
  

}



@media only screen and (max-width: 400px) {
  .Section_Text{
    margin-right: 5%;
  }
}
@media only screen and (max-width: 490px) {
.Title {
  display: grid;
}
}
.Web{
  -webkit-font-smoothing: unset;
  display: block;
}